# Ignore VS Code settings
# Also ignore any build output in there
.vscode/

# Ignore the installed libraries and headers
lib/
include/

# Ignore build output
*.o
*.a
*.elf
*.hex

# Ignore CMake output
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
