# Ignore VS Code settings
# Also ignore any build output in there
.vscode/

# Ignore build output
**/build/
*.o
*.a
*.elf
*.hex

# Ignore CMake output
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

# Ignore Doxygen output
**/html/
